/* 影院头部 */
.layout-body {
  padding-top: 100px;
  position: relative;
  .body-header {
    height: 44px;
    display: flex;
    background: #ffffff;
    position: fixed;
    top: 0;
    width: 3.75rem;
    margin: 0 auto;
    z-index: 300;
    .bodyHeader-left {
      height: 44px;
      line-height: 44px;
      width: 50px;
      text-align: left;
      padding-left: 10px;
      a{
        display: block;
        i {
          font-size: 20px;
        }
      }

    }
    .bodyHeader-right {
      height: 44px;
      line-height: 44px;
      flex: 1;
      text-align: center;
      .bodyTitle {
        font-size: 18px;
        overflow: hidden;
      }
    }
  }
  /* 搜索城市框 */
  .bodySearch {
    height: 50px;
    width: 3.75rem;
    padding: 10px 15px;
    background: #f4f4f4;
    position: fixed;
    top: 44px;
    z-index: 2000;
    box-sizing: border-box;
    display: flex;
    .searchInput {
      height: 30px;
      flex: 1;
      font-size: 12px;
      padding-left: 25px;
      border: 0px;
      box-sizing: border-box;
      position: relative;
    }
    .search-icon {
      font-size: 18px;
      position: absolute;
      top: 14px;
      left: 18px;
    }
    .fault-icon{
      position: absolute;
      top: 18px;
      left: 294px;
      color: #bdc0c5;
      font-size: 14px;
    }
    .cancelsearch{
      width: 42px;
      display: none;
      font-size: 14px;
      line-height: 30px;
      text-align: right;
    }
  }
  /* 城市主要内容 */

  .main-cityList {
    background: #ffffff;
    position: relative;
    display: flex;
    .main-indexList {
      overflow-y: auto;
      /* 推荐城市 */
      .reccommend-city {
        background: #ffffff;
        padding-left: 15px;
        padding-top: 15px;
        /* gprs-city */
        .city-index-title {
          font-size: 13px;
          color: #797d82;
          margin-bottom: 10px;
        }
        .city-index-detail {
          display: flex;
          align-content: center;
          flex-wrap: wrap;
          .city-item-gprs {
            padding-bottom: 15px;
            box-sizing: border-box;
            float: left;
            width: 114px;
            text-align: center;
            .city-item-text {
              height: 30px;
              line-height: 30px;
              background: #f4f4f4;
              border-radius: 3px;
              margin: 0 8px;
              font-size: 14px;
              color: #191a1b;
            }
          }
        }
      }
    }
    /* 主要城市 */
    /* p标签 */
    .main-indexsection {
      .main-indexsection-index {
        background: #f4f4f4;
        color: #797d82;
        padding-left: 15px;
        height: 30px;
        width: 100%;
        box-sizing: border-box;
        line-height: 30px;
      }
      ul {
        padding-left: 15px;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        /* 城市li标签 */
        .city-item-detail-white {
          color: #191a1b;
          position: relative;
          height: 48px;
          box-sizing: border-box;
          width: 30%;
          text-align: center;
          float: left;
          /* 城市样式 */
          .city-item-text {
            background: #ffffff;
            height: 48px;
            line-height: 48px;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }

    /* 城市首字母导航 */
    .mint-indexlist-nav {
      flex: 1;
      position: fixed;
      margin-left: 356px;
      z-index: 1000;
      width: 18px;
      height: 100%;
      background: #ffffff;
      .mint-indexlist-navlist {
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 100%;
        padding-top: 50px;
        .mint-indexlist-navitem {
          font-size: 12px;
          padding: 0 6px;
          color: #191a1b;
          margin: 3px 0;
        }
      }
    }
  }
  /* 搜索城市列表 */
  .city-search-result{
    display: none;
    z-index: 1999;
    position: fixed;
    top: 44px;
    left: 0;
    background-color: #fff;
    height: calc(100vh - 49px);
    width: 100vw;
    overflow-y: auto;
    ul {
      position: relative;
      padding-left: 15px;
      padding-top: 49px;
      li {
        height: 44px;
        position: relative;
        line-height: 44px;
        color: #191a1b;
        font-size: 13px;
        border-bottom: 1px solid #f4f4f4
      }
    }
    .empty-result{
      position: absolute;
      top: 107px;
      width: 100%;
      text-align: center;
      img{
        width: 90px;
        margin: auto;
      }
      p{
        color: #bdc0c5;
        font-size: 14px;
        margin: 0;
      }
    }
  }
}
